<button>account manage</button>
<form>
    <input name="search" type="text" class="Input"
                        placeholder="search restaurant" value="">
    <input type="submit">
</form>
<div>
    <h3>view all res</h3>
    <div>
        type-list
    </div>
    <div>
        res-list(order by star)
    </div>
</div>
<div>
    <div>here is your commit history</div>
    <div>
        <res-list>
            <div>res-name</div>
            <div>star</div>
            <div>commit(15 words)</div>
        </res-list>
    </div>
</div>