<div class="Login-content">
    <form novalidate="" class="SignFlow" data-za-detail-view-path-module="SignInForm"
        data-za-extra-module="{&quot;card&quot;:{&quot;content&quot;:null}}">
        <div class="SignFlow-account">
            <div class="SignFlow-supportedCountriesSelectContainer"></div>
            <div class="SignFlowInput SignFlow-accountInputContainer">
                <div class="SignFlow-accountInput Input-wrapper"><input name="username" type="text" class="Input"
                        placeholder="手机号或邮箱" value=""></div>
                <div class="SignFlowInput-errorMask SignFlowInput-requiredErrorMask SignFlowInput-errorMask--hidden">
                </div>
            </div>
        </div>
        <div class="SignFlow-password">
            <div class="SignFlowInput">
                <div class="Input-wrapper"><input name="password" type="password" class="Input" placeholder="密码"
                        value=""></div>
                <div class="SignFlowInput-errorMask SignFlowInput-requiredErrorMask SignFlowInput-errorMask--hidden">
                </div>
            </div>
        </div>
        <div class="Login-options"><button type="button"
                class="Button Login-cannotLogin Button--plain">忘记密码？</button></div><button type="submit"
            class="Button SignFlow-submitButton Button--primary Button--blue">登录</button>
    </form>
    <div class="SignContainer-switch">没有帐号？<span>注册</span></div>
</div>