<h1>{name}</h1>
<div>{details}</div>
<div>{stars}</div>
<div>{address}</div>
<div>
    <div>
        <div>{username}</div>
        <div>{user-star}</div>
        <!-- if have -->
        <div>{user-price}</div>
        <!-- if have end -->
        <div>{commit-detail}</div>
        <div>
            reply list
        </div>
        <div>
            <button>like</button>
            <button>commit</button>
        </div>
    </div>
</div>
<div>
    <form>
        <div>star select</div>
        <div>price select</div>
        <input type="text" placeholder="commit here">
        <input type="submit">
    </form>
</div>